In [7]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re
import aiohttp
import asyncio
import random
import time
%run ../data/states_districts_update.py

In [8]:
user_agents = [
    "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3",
    "Mozilla/5.0 (Windows NT 6.1; WOW64; rv:54.0) Gecko/20100101 Firefox/54.0",
    "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.79 Safari/537.36 Edge/14.14931",
    "Mozilla/5.0 (Windows NT 6.1; WOW64; Trident/7.0; AS; rv:11.0) like Gecko",
    "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/64.0.3282.140 Safari/537.36 Edge/17.17134",
    "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/61.0.3163.100 Safari/537.36",
    "Mozilla/5.0 (Windows NT 5.1; rv:7.0.1) Gecko/20100101 Firefox/7.0.1",
    "Mozilla/5.0 (Windows NT 10.0; WOW64; Trident/7.0; AS; rv:11.0) like Gecko",
    "Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/66.0.3359.181 Safari/537.36",
    "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/66.0.3359.181 Safari/537.36",
    "Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:15.0) Gecko/20100101 Firefox/15.0.1",
    "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/64.0.3282.140 Safari/537.36 Edge/18.17763",
    "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.116 Safari/537.36",
]

In [9]:
async def scrape_candidate_data(state_district, cycle_year):
    headers = {
    'User-Agent': random.choice(user_agents)
    }
    endpoint = f'https://www.opensecrets.org/races/candidates?cycle={cycle_year}&id={state_district}&spec=N'

    timeout = aiohttp.ClientTimeout(total=600)
    connector = aiohttp.TCPConnector(limit=2)
    
    async with aiohttp.ClientSession(connector=connector, timeout=timeout) as session:
        async with session.get(endpoint) as res:
            if res.status == 200:  # HTTP Status Code 200 means OK
                text = await res.text()
                soup = BeautifulSoup(text, 'html.parser')
            else:
                print(f"Failed to retrieve {endpoint}: {res.status}")
                return []  # Return an empty list or another suitable default value

    pandas_data = []
    bad_districts = []

    try:
        # Locate the main div containing all candidate blocks
        candidates_div = soup.find('div', class_="Members--list")
        
        if candidates_div:
            # Extract candidate blocks
            candidates_blocks = candidates_div.find_all('div', class_='Members--list-item')
            
            for block in candidates_blocks:
                # Extract the name, party, and other details
                candidate_h2_text = block.find('h2').get_text(strip=True)
                pattern = re.compile(r"(.+?) \((R|D|I)\)")
                match = pattern.match(candidate_h2_text)
                name, party = match.groups()
                incumbent = "Incumbent" in candidate_h2_text

                # Check winner status via tag and class directly
                winner = block.find('span', class_='winner') is not None

                # Extract vote percentage by looking directly for the relevant span and class
                vote_pct_tag = block.find('span', class_='Members--vote-pct')
                vote_pct = None
                if vote_pct_tag:
                    vote_pct = vote_pct_tag.get_text(strip=True).strip("()").replace('% of vote', '').strip()

               # Loop through each 'td' with the label names
                    # Find the 'td' element containing the label name
                    raised_label_td = block.find('td', string="Raised:")
                    spent_label_td = block.find('td', string="Spent:")
                    
                    # If the label is found, find the next 'td' sibling (which should contain the dollar value)
                    if raised_label_td or spent_label_td:
                        raised = raised_label_td.find_next_sibling('td').get_text()
                        spent = spent_label_td.find_next_sibling('td').get_text()

                        pandas_data.append({
                            "Year": cycle_year,
                            "State": state_district[:2],
                            "District": state_district[2:],
                            "Name": name,
                            "Party": party,
                            "Incumbent": incumbent,
                            "Winner": winner,
                            "Vote Percentage": vote_pct,
                            "Raised": raised,
                            "Spent": spent
                        })
        else:
            print(f"No candidate data found for {state_district}")
            bad_districts.append(state_district)
            
    except Exception as e:
        print(f"An error occurred while processing {state_district} for {cycle_year}: {str(e)}")
        bad_districts.append(state_district)

    print(state_district + '-' + cycle_year)
    
    return pandas_data, bad_districts

In [10]:
def get_district_codes():
    district_codes = []
    for state in congressional_districts_update:
        for district in congressional_districts_update[state]:
            code = state + district
            district_codes.append(code)
    return district_codes

In [11]:
async def gather_data(district_codes, years):
    all_data = []
    bad_districts = []
    tasks = [scrape_candidate_data(code, year) for year in years for code in district_codes]
   

    results = await asyncio.gather(*tasks, return_exceptions=True)

    for data, bad_district in results:
        all_data.extend(data)
        bad_districts.extend(bad_district)

    df = pd.DataFrame(all_data)

    return df, bad_districts

# Example usage in a Jupyter Notebook cell:

district_codes = get_district_codes() 
print(len(district_codes))
district_codes_1 = district_codes[:100]
district_codes_2 = district_codes[100:200]
district_codes_3 = district_codes[200:300]
district_codes_4 = district_codes[300:]

439

In [12]:
print(len(district_codes_1))
years = ['2018','2020']
df_1, bad_districts_1 = await gather_data(district_codes_1, years)
print(bad_districts_1)
df_1

100
AL04-2018
AL07-2018
AZ08-2018
AL02-2018
CA08-2018
AZ05-2018
AZ01-2018
CA02-2018
AR02-2018
CA09-2018
CA04-2018
AZ03-2018
CA14-2018
AK01-2018
AR01-2018
AL06-2018
AL05-2018
AZ04-2018
AR04-2018
AZ07-2018
AZ02-2018
AR03-2018
AL03-2018
AL01-2018
CA15-2018
AZ09-2018
CA07-2018
CA18-2018
CA24-2018
CA17-2018
CA19-2018
CA06-2018
CA03-2018
AZ06-2018
CA20-2018
An error occurred while processing CA13 for 2018: 'NoneType' object has no attribute 'groups'
CA13-2018
CA05-2018
CA28-2018
CA12-2018
CA25-2018
CA38-2018
CA16-2018
CA11-2018
CA01-2018
CA22-2018
CA10-2018
CA33-2018
CA37-2018
CA26-2018
CA21-2018
CA27-2018
CA29-2018
CA43-2018
An error occurred while processing CA34 for 2018: 'NoneType' object has no attribute 'groups'
CA34-2018
CA36-2018
CO01-2018
CO04-2018
CA45-2018
CA42-2018
CA47-2018
CA31-2018
CA48-2018
CO05-2018
CA50-2018
CA52-2018
An error occurred while processing CO02 for 2018: 'NoneType' object has no attribute 'groups'
CO02-2018
CO07-2018
CA30-2018
CA41-2018
CA23-2018
CA32-2018
CA53-2018
DE01-2018
CT04-2018
CT01-2018
CT03-2018
CA49-2018
CA51-2018
FL06-2018
FL05-2018
FL04-2018
CO03-2018
AL07-2020
AZ08-2020
AL02-2020
FL09-2018
FL11-2018
CA39-2018
CT02-2018
FL02-2018
CO06-2018
CO08-2018
FL10-2018
FL03-2018
FL07-2018
AZ04-2020
AL05-2020
CA46-2018
CA35-2018
CA44-2018
An error occurred while processing CA40 for 2018: 'NoneType' object has no attribute 'groups'
CA40-2018
AZ09-2020
FL12-2018
FL01-2018
CA01-2020
AZ01-2020
FL08-2018
AZ07-2020
AL03-2020
AL01-2020
CA11-2020
AR01-2020
AL06-2020
AK01-2020
AZ02-2020
AR02-2020
AZ05-2020
AZ06-2020
AR03-2020
AR04-2020
CA12-2020
CA09-2020
CA06-2020
An error occurred while processing CA29 for 2020: 'NoneType' object has no attribute 'groups'
CA29-2020
CA24-2020
AZ03-2020
CA14-2020
CA02-2020
CA13-2020
CT05-2018
CA17-2020
CA25-2020
CA10-2020
CA07-2020
CA35-2020
CA23-2020
AL04-2020
CA26-2020
CA05-2020
CA03-2020
CA20-2020
CA37-2020
CA34-2020
CA44-2020
CA16-2020
CA22-2020
CA15-2020
CA19-2020
CA33-2020
CA04-2020
CA39-2020
CA18-2020
CA28-2020
CA21-2020
CA40-2020
CA38-2020
CA43-2020
CA27-2020
CA52-2020
CA36-2020
CA49-2020
CA32-2020
CA31-2020
CA08-2020
CA46-2020
An error occurred while processing CT03 for 2020: 'NoneType' object has no attribute 'groups'
CT03-2020
CO02-2020
FL11-2020
FL09-2020
CA41-2020
CT01-2020
DE01-2020
CO01-2020
FL12-2020
An error occurred while processing CO06 for 2020: 'NoneType' object has no attribute 'groups'
CO06-2020
CO04-2020
FL02-2020
An error occurred while processing CO03 for 2020: 'NoneType' object has no attribute 'groups'
CO03-2020
FL04-2020
CT04-2020
CT05-2020
CA48-2020
FL08-2020
CA47-2020
CA42-2020
CA45-2020
CA51-2020
CA53-2020
FL06-2020
CA50-2020
CA30-2020
FL03-2020
FL10-2020
An error occurred while processing CO05 for 2020: 'NoneType' object has no attribute 'groups'
CO05-2020
CT02-2020
CO08-2020
CO07-2020
FL01-2020
FL05-2020
FL07-2020
['CA13', 'CA34', 'CA40', 'CO02', 'CA29', 'CO03', 'CO05', 'CO06', 'CT03']

,Year,State,District,Name,Party,Incumbent,Winner,Vote Percentage,Raised,Spent
0,2018,AL,01,Bradley Byrne,R,True,True,63.2,"$1,460,041","$831,634"
1,2018,AL,01,Robert Kennedy Jr.,D,False,False,36.8,"$46,845","$46,845"
2,2018,AL,02,Martha Roby,R,True,True,61.4,"$2,559,441","$2,263,209"
3,2018,AL,02,Tabitha Isner,D,False,False,38.4,"$519,145","$519,145"
4,2018,AL,03,Mike D Rogers,R,True,True,63.8,"$1,349,986","$1,347,847"
...,...,...,...,...,...,...,...,...,...,...
361,2020,FL,10,Vennia Francois,R,False,False,36.4,"$335,480","$332,852"
362,2020,FL,11,Daniel Webster,R,True,True,66.7,"$691,261","$586,965"
363,2020,FL,11,Dana Cottrell,D,False,False,33.3,"$62,658","$62,380"
364,2020,FL,12,Gus Bilirakis,R,True,True,62.9,"$1,604,137","$1,548,634"
365,2020,FL,12,Kim Walker,D,False,False,37.1,"$42,802","$33,544"

In [13]:
print(len(district_codes_2))
df_2, bad_districts_2 = await gather_data(district_codes_2, years)
print(bad_districts_2)
df_2

100
FL23-2018
GA03-2018
GA06-2018
GA02-2018
FL20-2018
FL15-2018
FL17-2018
FL16-2018
FL14-2018
FL18-2018
GA05-2018
FL13-2018
GA08-2018
FL21-2018
IL03-2018
FL26-2018
HI02-2018
GA01-2018
FL25-2018
IL05-2018
FL19-2018
FL22-2018
ID02-2018
GA04-2018
GA10-2018
FL24-2018
GA11-2018
GA12-2018
GA07-2018
An error occurred while processing GA09 for 2018: 'NoneType' object has no attribute 'groups'
GA09-2018
IL01-2018
An error occurred while processing ID01 for 2018: 'NoneType' object has no attribute 'groups'
ID01-2018
IL16-2018
An error occurred while processing GA13 for 2018: 'NoneType' object has no attribute 'groups'
GA13-2018
GA14-2018
HI01-2018
IL11-2018
FL27-2018
IN01-2018
IN04-2018
IL02-2018
IL10-2018
IN06-2018
IL09-2018
IL13-2018
IL06-2018
IL14-2018
IL15-2018
KY01-2018
An error occurred while processing IL12 for 2018: 'NoneType' object has no attribute 'groups'
IL12-2018
IL04-2018
IL18-2018
KS04-2018
IA02-2018
IL07-2018
IA01-2018
IL08-2018
IA04-2018
IA03-2018
IN03-2018
IN07-2018
KY02-2018
LA03-2018
KS03-2018
KY03-2018
IN02-2018
KS02-2018
IN08-2018
KY05-2018
IL17-2018
KS01-2018
MD01-2018
ME02-2018
LA02-2018
IN05-2018
LA06-2018
IN09-2018
KY06-2018
MA02-2018
An error occurred while processing LA01 for 2018: 'NoneType' object has no attribute 'groups'
LA01-2018
KY04-2018
LA05-2018
MD04-2018
MD08-2018
FL15-2020
An error occurred while processing MD05 for 2018: 'NoneType' object has no attribute 'groups'
MD05-2018
MD06-2018
MA05-2018
MD07-2018
MD02-2018
ME01-2018
MA08-2018
MA07-2018
MA04-2018
An error occurred while processing MD03 for 2018: 'NoneType' object has no attribute 'groups'
MD03-2018
LA04-2018
FL23-2020
MA01-2018
FL13-2020
MI01-2018
FL24-2020
FL14-2020
FL17-2020
IL01-2020
FL19-2020
FL25-2020
IL05-2020
FL16-2020
An error occurred while processing IL06 for 2020: 'NoneType' object has no attribute 'groups'
IL06-2020
IL08-2020
IL09-2020
MA09-2018
IL10-2020
GA03-2020
GA12-2020
An error occurred while processing GA08 for 2020: 'NoneType' object has no attribute 'groups'
GA08-2020
GA09-2020
ID01-2020
GA06-2020
GA07-2020
MA06-2018
An error occurred while processing GA05 for 2020: 'NoneType' object has no attribute 'groups'
GA05-2020
GA02-2020
FL20-2020
FL18-2020
FL22-2020
GA01-2020
GA04-2020
FL27-2020
An error occurred while processing GA13 for 2020: 'NoneType' object has no attribute 'groups'
GA13-2020
GA14-2020
GA10-2020
FL21-2020
FL26-2020
An error occurred while processing HI02 for 2020: 'NoneType' object has no attribute 'groups'
HI02-2020
IL12-2020
IL17-2020
An error occurred while processing IL07 for 2020: 'NoneType' object has no attribute 'groups'
IL07-2020
IL16-2020
IN02-2020
IN01-2020
IL02-2020
MA03-2018
KY06-2020
IA02-2020
IL14-2020
GA11-2020
IL04-2020
IL13-2020
IL15-2020
IL03-2020
IL11-2020
An error occurred while processing IN09 for 2020: 'NoneType' object has no attribute 'groups'
IN09-2020
KY05-2020
KS04-2020
KS01-2020
KS02-2020
ID02-2020
IN08-2020
IN07-2020
LA02-2020
IN03-2020
IL18-2020
IN05-2020
MA01-2020
IA03-2020
An error occurred while processing KY02 for 2020: 'NoneType' object has no attribute 'groups'
KY02-2020
ME01-2020
IA01-2020
HI01-2020
KY01-2020
KY03-2020
MD07-2020
IN06-2020
MA05-2020
LA04-2020
IN04-2020
KS03-2020
LA01-2020
LA06-2020
MA07-2020
MA03-2020
IA04-2020
ME02-2020
MA06-2020
LA03-2020
MI01-2020
MA09-2020
LA05-2020
KY04-2020
MD01-2020
MA02-2020
MD06-2020
MA08-2020
MD08-2020
MD02-2020
MD04-2020
MA04-2020
MD05-2020
MD03-2020
['GA09', 'GA13', 'ID01', 'IL12', 'LA01', 'MD03', 'MD05', 'GA05', 'GA08', 'GA13', 'HI02', 'IL06', 'IL07', 'IN09', 'KY02']

,Year,State,District,Name,Party,Incumbent,Winner,Vote Percentage,Raised,Spent
0,2018,FL,13,Charlie Crist,D,True,True,57.6,"$3,112,230","$1,531,229"
1,2018,FL,13,George Buck,R,False,False,42.4,"$40,828","$40,819"
2,2018,FL,14,Kathy Castor,D,True,True,100.0,"$757,607","$658,645"
3,2018,FL,15,Kristen Carlson,D,False,False,47.0,"$2,067,005","$2,060,050"
4,2018,FL,15,Ross Spano,R,False,True,53.0,"$929,814","$928,169"
...,...,...,...,...,...,...,...,...,...,...
368,2020,MA,08,Stephen Lynch,D,True,True,80.7,"$905,614","$1,134,662"
369,2020,MA,09,Bill Keating,D,True,True,61.3,"$708,680","$652,448"
370,2020,MA,09,Helen Brady,R,False,False,36.3,"$28,233","$23,735"
371,2020,MI,01,John Bergman,R,True,True,61.6,"$1,868,512","$1,733,466"
372,2020,MI,01,Dana Ferguson,D,False,False,36.9,"$346,213","$339,788"

In [14]:
df_3, bad_districts_3 = await gather_data(district_codes_3, years)
print(bad_districts_3)
df_3

MN01-2018
MN07-2018
MI02-2018
MN03-2018
NE03-2018
An error occurred while processing MI08 for 2018: 'NoneType' object has no attribute 'groups'
MI08-2018
MI14-2018
MN05-2018
MS02-2018
MI06-2018
MN04-2018
MO07-2018
MI09-2018
MI13-2018
MN06-2018
MN02-2018
MO05-2018
An error occurred while processing MI12 for 2018: 'NoneType' object has no attribute 'groups'
MI12-2018
An error occurred while processing MT01 for 2018: 'NoneType' object has no attribute 'groups'
MT01-2018
MO08-2018
NH01-2018
NE02-2018
MI04-2018
MO01-2018
NJ03-2018
NJ08-2018
MI10-2018
MI11-2018
MI05-2018
MI03-2018
NJ01-2018
NV01-2018
MO06-2018
NJ10-2018
MS04-2018
NV02-2018
MI07-2018
NV03-2018
An error occurred while processing NJ07 for 2018: 'NoneType' object has no attribute 'groups'
NJ07-2018
NJ04-2018
MS01-2018
NJ02-2018
MO03-2018
NE01-2018
NY08-2018
An error occurred while processing NM03 for 2018: 'NoneType' object has no attribute 'groups'
NM03-2018
NY01-2018
MO02-2018
NY02-2018
NY03-2018
NJ12-2018
MN08-2018
MS03-2018
NY11-2018
MO04-2018
NJ06-2018
NV04-2018
NJ05-2018
NJ11-2018
NH02-2018
An error occurred while processing NM01 for 2018: 'NoneType' object has no attribute 'groups'
NM01-2018
NJ09-2018
NM02-2018
NY19-2018
NY13-2018
NY15-2018
NY05-2018
An error occurred while processing NY07 for 2018: 'NoneType' object has no attribute 'groups'
NY07-2018
NY04-2018
NY09-2018
NY14-2018
NY06-2018
NY20-2018
NY23-2018
NC11-2018
NY10-2018
NC01-2018
NC03-2018
NY18-2018
An error occurred while processing NC04 for 2018: 'NoneType' object has no attribute 'groups'
NC04-2018
NY25-2018
NY24-2018
An error occurred while processing NY21 for 2018: 'NoneType' object has no attribute 'groups'
NY21-2018
An error occurred while processing NC02 for 2018: 'NoneType' object has no attribute 'groups'
NC02-2018
NC09-2018
NY22-2018
NY16-2018
An error occurred while processing NY17 for 2018: 'NoneType' object has no attribute 'groups'
NY17-2018
NY26-2018
NC10-2018
NC07-2018
NC08-2018
NC12-2018
MI05-2020
An error occurred while processing MI02 for 2020: 'NoneType' object has no attribute 'groups'
MI02-2020
MI07-2020
MI04-2020
NC06-2018
NC05-2018
An error occurred while processing NY27 for 2018: 'NoneType' object has no attribute 'groups'
NY27-2018
NY12-2018
MI06-2020
An error occurred while processing NC13 for 2018: 'NoneType' object has no attribute 'groups'
NC13-2018
OH01-2018
MO01-2020
MS03-2020
NE02-2020
MS01-2020
NV01-2020
MO04-2020
MT01-2020
MS04-2020
MN03-2020
ND01-2018
MO06-2020
MO08-2020
MI11-2020
MI09-2020
MN04-2020
MN07-2020
NJ11-2020
MI13-2020
MN06-2020
MI10-2020
MN01-2020
MI08-2020
MO02-2020
NE01-2020
MI14-2020
MS02-2020
MI03-2020
MI12-2020
MN08-2020
MO03-2020
NY13-2020
NM03-2020
NM02-2020
MO07-2020
NH02-2020
NV03-2020
NV02-2020
NM01-2020
An error occurred while processing MN05 for 2020: 'NoneType' object has no attribute 'groups'
MN05-2020
NJ01-2020
NJ06-2020
NJ12-2020
An error occurred while processing NY02 for 2020: 'NoneType' object has no attribute 'groups'
NY02-2020
NH01-2020
An error occurred while processing NV04 for 2020: 'NoneType' object has no attribute 'groups'
NV04-2020
NE03-2020
NJ10-2020
NJ08-2020
NJ05-2020
NJ02-2020
NJ07-2020
NJ04-2020
NY14-2020
NY16-2020
NY01-2020
NJ03-2020
MN02-2020
NJ09-2020
NY12-2020
MO05-2020
NC07-2020
NY23-2020
NC09-2020
An error occurred while processing NY25 for 2020: 'NoneType' object has no attribute 'groups'
NY25-2020
NY11-2020
An error occurred while processing OH01 for 2020: 'NoneType' object has no attribute 'groups'
OH01-2020
NY03-2020
An error occurred while processing NC02 for 2020: 'NoneType' object has no attribute 'groups'
NC02-2020
NY21-2020
NY15-2020
NY19-2020
NY26-2020
NY20-2020
NY09-2020
NY07-2020
An error occurred while processing NY10 for 2020: 'NoneType' object has no attribute 'groups'
NY10-2020
NY05-2020
NY08-2020
NC10-2020
NC03-2020
NY04-2020
NY22-2020
NC12-2020
NC04-2020
NC11-2020
NC13-2020
ND01-2020
NY24-2020
NY06-2020
NC06-2020
NC01-2020
NC08-2020
NC05-2020
NY18-2020
An error occurred while processing NY27 for 2020: 'NoneType' object has no attribute 'groups'
NY27-2020
An error occurred while processing NY17 for 2020: 'NoneType' object has no attribute 'groups'
NY17-2020
['MI08', 'MI12', 'MT01', 'NJ07', 'NM01', 'NM03', 'NY07', 'NY17', 'NY21', 'NY27', 'NC02', 'NC04', 'NC13', 'MI02', 'MN05', 'NV04', 'NY02', 'NY10', 'NY17', 'NY25', 'NY27', 'NC02', 'OH01']

,Year,State,District,Name,Party,Incumbent,Winner,Vote Percentage,Raised,Spent
0,2018,MI,02,Bill Huizenga,R,True,True,55.3,"$2,136,543","$2,166,958"
1,2018,MI,02,Rob Davidson,D,False,False,43.0,"$1,253,063","$1,248,766"
2,2018,MI,03,Justin Amash,R,True,True,54.4,"$628,562","$764,398"
3,2018,MI,03,Catherine Albro,D,False,False,43.2,"$164,519","$152,791"
4,2018,MI,04,John Moolenaar,R,True,True,62.6,"$1,168,833","$1,087,763"
...,...,...,...,...,...,...,...,...,...,...
354,2020,NC,13,Scott Huffman,D,False,False,31.8,"$193,334","$189,967"
355,2020,ND,01,Kelly Armstrong,R,True,True,69.0,"$1,269,346","$1,080,105"
356,2020,ND,01,Zach Raknerud,D,False,False,27.6,"$28,047","$26,029"
357,2020,OH,01,Steve Chabot,R,True,True,51.8,"$3,177,647","$2,861,464"
358,2020,OH,01,Kate Schroder,D,False,False,44.7,"$4,040,303","$4,039,798"

In [15]:
df_4, bad_districts_4 = await gather_data(district_codes_4, years)
print(bad_districts_4)
df_4

OR05-2018
PA09-2018
OK01-2018
OH02-2018
OK03-2018
OH06-2018
OR04-2018
OH05-2018
OH11-2018
OH10-2018
OH03-2018
OR03-2018
An error occurred while processing OH14 for 2018: 'NoneType' object has no attribute 'groups'
OH14-2018
OH12-2018
OK05-2018
OH13-2018
PA01-2018
OH04-2018
OH15-2018
PA03-2018
OH07-2018
OK04-2018
PA08-2018
PA04-2018
OH08-2018
An error occurred while processing OK02 for 2018: 'NoneType' object has no attribute 'groups'
OK02-2018
OR01-2018
PA11-2018
An error occurred while processing PA07 for 2018: 'NoneType' object has no attribute 'groups'
PA07-2018
PA17-2018
OH09-2018
RI01-2018
PA06-2018
OH16-2018
PA18-2018
RI02-2018
TX16-2020
PA12-2018
PA02-2018
TN02-2020
An error occurred while processing TN02 for 2018: 'NoneType' object has no attribute 'groups'
TN02-2018
PA05-2018
PA14-2018
PA10-2018
TN06-2018
SC02-2018
PA13-2018
An error occurred while processing PA16 for 2018: 'NoneType' object has no attribute 'groups'
PA16-2018
TN05-2018
TN03-2018
OR02-2018
SC03-2018
An error occurred while processing SD01 for 2018: 'NoneType' object has no attribute 'groups'
SD01-2018
TN07-2018
TN08-2018
An error occurred while processing SC04 for 2018: 'NoneType' object has no attribute 'groups'
SC04-2018
An error occurred while processing TX12 for 2020: 'NoneType' object has no attribute 'groups'
TX12-2020
SC01-2018
PA15-2018
TX12-2018
TX05-2018
TX02-2018
TX03-2018
TX10-2018
An error occurred while processing TX06 for 2018: 'NoneType' object has no attribute 'groups'
TX06-2018
TX04-2018
TN01-2018
TX16-2018
TX01-2018
TX09-2018
SC05-2018
TX26-2020
TX08-2018
TX13-2018
TX11-2018
TX07-2018
TX33-2018
TN09-2018
TX20-2018
An error occurred while processing TX18 for 2018: 'NoneType' object has no attribute 'groups'
TX18-2018
TX32-2018
TX17-2018
TX25-2018
TX28-2018
TX29-2018
TX14-2018
TX15-2018
WA05-2018
TX20-2020
TN04-2018
UT04-2018
TX30-2018
VA08-2018
TX23-2018
TX19-2018
TX21-2018
VA01-2018
TX26-2018
TX22-2018
TX35-2018
TX36-2018
TX31-2020
TX24-2018
UT02-2018
WA07-2018
An error occurred while processing VA04 for 2018: 'NoneType' object has no attribute 'groups'
VA04-2018
WA08-2018
GU00-2018
An error occurred while processing VA07 for 2018: 'NoneType' object has no attribute 'groups'
VA07-2018
VT01-2018
An error occurred while processing UT01 for 2018: 'NoneType' object has no attribute 'groups'
UT01-2018
VA09-2018
WI08-2018
VA06-2018
WA06-2018
UT03-2018
VA03-2018
WA01-2018
VA05-2018
WA09-2018
TX31-2018
WV01-2018
OH09-2020
VA02-2018
OH05-2020
An error occurred while processing VA11 for 2018: 'NoneType' object has no attribute 'groups'
VA11-2018
MP00-2018
WA04-2018
WA02-2018
An error occurred while processing TX05 for 2020: 'NoneType' object has no attribute 'groups'
TX05-2020
OH03-2020
TX34-2018
TX27-2018
VI00-2018
WY01-2018
AS00-2018
OR03-2020
WI01-2018
WV03-2018
VA10-2018
WI07-2018
WI06-2018
An error occurred while processing OH07 for 2020: 'NoneType' object has no attribute 'groups'
OH07-2020
WI02-2018
OH06-2020
OH10-2020
WA10-2018
WI04-2018
An error occurred while processing OH12 for 2020: 'NoneType' object has no attribute 'groups'
OH12-2020
WA03-2018
OH15-2020
OH14-2020
An error occurred while processing PR00 for 2018: 'NoneType' object has no attribute 'groups'
PR00-2018
OR02-2020
OR01-2020
OH02-2020
An error occurred while processing WV02 for 2018: 'NoneType' object has no attribute 'groups'
WV02-2018
OK02-2020
WI05-2018
OH11-2020
WI03-2018
OH16-2020
OH13-2020
PA07-2020
OH08-2020
SD01-2020
OK03-2020
RI02-2020
OR04-2020
PA10-2020
PA14-2020
PA06-2020
PA09-2020
SC01-2020
OK05-2020
SC03-2020
PA03-2020
PA18-2020
PA04-2020
PA11-2020
OH04-2020
OK01-2020
PA08-2020
An error occurred while processing PA12 for 2020: 'NoneType' object has no attribute 'groups'
PA12-2020
PA02-2020
PA13-2020
OK04-2020
TN01-2020
TN08-2020
PA05-2020
TX03-2020
OR05-2020
TX11-2020
TN07-2020
TX18-2020
TN06-2020
PA16-2020
PA17-2020
TN05-2020
SC05-2020
RI01-2020
PA15-2020
An error occurred while processing TX02 for 2020: 'NoneType' object has no attribute 'groups'
TX02-2020
An error occurred while processing UT03 for 2020: 'NoneType' object has no attribute 'groups'
UT03-2020
SC04-2020
TX07-2020
TX08-2020
TN04-2020
TX10-2020
TX09-2020
PA01-2020
TX01-2020
TX33-2020
TN03-2020
VA01-2020
An error occurred while processing UT04 for 2020: 'NoneType' object has no attribute 'groups'
UT04-2020
SC02-2020
TX28-2020
TX06-2020
TX15-2020
TX13-2020
TX34-2020
TX04-2020
VT01-2020
WV03-2020
An error occurred while processing VA11 for 2020: 'NoneType' object has no attribute 'groups'
VA11-2020
TN09-2020
WA05-2020
WA06-2020
VA09-2020
WI01-2020
UT01-2020
WA02-2020
WA01-2020
TX23-2020
TX32-2020
VA06-2020
An error occurred while processing TX24 for 2020: 'NoneType' object has no attribute 'groups'
TX24-2020
An error occurred while processing TX17 for 2020: 'NoneType' object has no attribute 'groups'
TX17-2020
WA09-2020
TX22-2020
WV02-2020
TX19-2020
VA05-2020
TX25-2020
TX14-2020
WV01-2020
TX30-2020
VA07-2020
TX27-2020
TX35-2020
TX21-2020
TX29-2020
WA08-2020
WA10-2020
WA04-2020
WI07-2020
AS00-2020
An error occurred while processing PR00 for 2020: 'NoneType' object has no attribute 'groups'
PR00-2020
VA08-2020
WA07-2020
VA04-2020
VA02-2020
WI04-2020
VA10-2020
WI08-2020
An error occurred while processing UT02 for 2020: 'NoneType' object has no attribute 'groups'
UT02-2020
WI06-2020
VI00-2020
WY01-2020
MP00-2020
GU00-2020
TX36-2020
WI03-2020
WI05-2020
WI02-2020
VA03-2020
WA03-2020
['OH14', 'OK02', 'PA07', 'PA16', 'SC04', 'SD01', 'TN02', 'TX06', 'TX18', 'UT01', 'VA04', 'VA07', 'VA11', 'WV02', 'PR00', 'OH07', 'OH12', 'PA12', 'TX02', 'TX05', 'TX12', 'TX17', 'TX24', 'UT02', 'UT03', 'UT04', 'VA11', 'PR00']

,Year,State,District,Name,Party,Incumbent,Winner,Vote Percentage,Raised,Spent
0,2018,OH,02,Brad Wenstrup,R,True,True,57.6,"$1,452,518","$1,596,661"
1,2018,OH,02,Jill Schiller,D,False,False,41.2,"$605,948","$585,051"
2,2018,OH,03,Joyce Beatty,D,True,True,73.6,"$1,087,553","$765,403"
3,2018,OH,04,Jim Jordan,R,True,True,65.3,"$1,239,307","$1,830,320"
4,2018,OH,04,Janet Garrett,D,False,False,34.7,"$697,563","$699,370"
...,...,...,...,...,...,...,...,...,...,...
520,2020,WI,07,Tricia Zunker,D,False,False,39.2,"$1,261,957","$1,232,690"
521,2020,WI,08,Mike Gallagher,R,True,True,64.0,"$3,202,905","$2,841,801"
522,2020,WI,08,Amanda Stuck,D,False,False,36.0,"$416,978","$399,916"
523,2020,WY,01,Liz Cheney,R,True,True,68.6,"$3,003,883","$3,060,167"
524,2020,WY,01,Lynnette Grey Bull,D,False,False,24.6,"$134,597","$132,235"

In [19]:
# Bad districts whose finance data is hard to scrape
bad_districts = bad_districts_1 + bad_districts_2 + bad_districts_3 + bad_districts_4
print(len(bad_districts))
print(bad_districts)
# This is data for all districts except for bad districts
df = pd.concat([df_1, df_2, df_3, df_4], ignore_index=True)
df.to_csv('../data/scraped_data_multiyear.csv')

75
['CA13', 'CA34', 'CA40', 'CO02', 'CA29', 'CO03', 'CO05', 'CO06', 'CT03', 'GA09', 'GA13', 'ID01', 'IL12', 'LA01', 'MD03', 'MD05', 'GA05', 'GA08', 'GA13', 'HI02', 'IL06', 'IL07', 'IN09', 'KY02', 'MI08', 'MI12', 'MT01', 'NJ07', 'NM01', 'NM03', 'NY07', 'NY17', 'NY21', 'NY27', 'NC02', 'NC04', 'NC13', 'MI02', 'MN05', 'NV04', 'NY02', 'NY10', 'NY17', 'NY25', 'NY27', 'NC02', 'OH01', 'OH14', 'OK02', 'PA07', 'PA16', 'SC04', 'SD01', 'TN02', 'TX06', 'TX18', 'UT01', 'VA04', 'VA07', 'VA11', 'WV02', 'PR00', 'OH07', 'OH12', 'PA12', 'TX02', 'TX05', 'TX12', 'TX17', 'TX24', 'UT02', 'UT03', 'UT04', 'VA11', 'PR00']